body {
  margin: 0;
  font-family: "Varela", sans-serif;
  margin-top: 50px;
}
h1 {
  font-family: "Varela", sans-serif;
}
form h1 {
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: bold;
}
form .btn {
    width: 100%;
    line-height: 30px;
}
